<h1>Listing tasks</h1>
<table class="matrix">
    <tr class="head">
        <th class="head left"></th>
        <th class="head"><%= t'task.urgent'%></th>
        <th class="head"><%= t'task.noturgent'%></th>
    </tr>
    <tr>
        <th class="left"><%= t'task.important'%></th>
        <td>
        <%= render 'list', :tasks=>@tasks1 %>
        </td>
        <td>
        <%= render 'list', :tasks=>@tasks2 %>
        </td>
    </tr>
    <tr>
        <th class="left"><%= t'task.notimportant'%></th>
        <td >
        <%= render 'list', :tasks=>@tasks3 %>
        </td>
        <td>
        <%= render 'list', :tasks=>@tasks4 %>
        </td>
    </tr>
</table>
<br />

<%= link_to <%= t'task.new'%>, new_task_path %>

<h4><%= t'task.done_taskt'%>:</h4>

<%= render 'list', :tasks=> @tasks_finished %>