<h1>Listing tasks</h1>
<table class="matrix">
    <tr class="head">
        <th class="head left"></th>
        <th class="head">PILNE</th>
        <th class="head">nie pilne</th>
    </tr>
    <tr>
        <th class="left">WAŻNE</th>
        <td>
        <%= render 'list', :tasks=>@tasks1 %>
        </td>
        <td>
        <%= render 'list', :tasks=>@tasks2 %>
        </td>
    </tr>
    <tr>
        <th class="left">nie ważne</th>
        <td >
        <%= render 'list', :tasks=>@tasks3 %>
        </td>
        <td>
        <%= render 'list', :tasks=>@tasks4 %>
        </td>
    </tr>
</table>
<br />

<%= link_to 'New Task', new_task_path %>
